<MudGrid Spacing="0" Style="place-items: center;justify-content: center;">
    <MudItem xs="12">
        <Animate Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(1)"
                 Delay="TimeSpan.FromSeconds(0.8)">
            <div class="cat" style="margin: 0 auto">
                <div class="ear ear--left"></div>
                <div class="ear ear--right"></div>
                <div class="face">
                    <div class="eye eye--left">
                        <div class="eye-pupil"></div>
                    </div>
                    <div class="eye eye--right">
                        <div class="eye-pupil"></div>
                    </div>
                    <div class="muzzle"></div>
                </div>
            </div>
        </Animate>
    </MudItem>
    <MudItem xs="12">
        <Animate Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.5)">
            <MudText Style="font-weight: bold;color: #d86c00;font-size: clamp(1.125rem, 0.828vw + 0.944rem, 1.938rem);line-height: clamp(1.688rem, 0.847vw + 1.502rem, 2.519rem);">
                👋 Hello, I am Youssof
            </MudText>
        </Animate>
        <Animate Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.6)">
            <MudText Class="mt-8" Style="font-weight: lighter;font-size: clamp(1rem, 0.127vw + 0.972rem, 1.125rem); line-height: clamp(1.463rem, -0.038vw + 1.508rem, 1.5rem);">
                A multidisciplinary DevOps specialist with a software development and infrastructure management background.
            </MudText>
        </Animate>
        <Animate Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.7)">
            <MudText Class="mt-8" Style="font-weight: lighter;font-size: clamp(1rem, 0.127vw + 0.972rem, 1.125rem); line-height: clamp(1.463rem, -0.038vw + 1.508rem, 1.5rem);">
                I excel in optimizing software delivery, automating processes, and implementing CI/CD pipelines. I collaborate closely with development and IT teams, leverage Azure for scalable infrastructures, and prioritize continuous learning for growth.
            </MudText>
        </Animate>
        <Animate Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.8)">
            <MudText Class="mt-8" Style="font-weight: lighter;font-size: clamp(1rem, 0.127vw + 0.972rem, 1.125rem); line-height: clamp(1.463rem, -0.038vw + 1.508rem, 1.5rem);">
               My goal is to create reliable, efficient DevOps solutions that drive successful software delivery and secure infrastructures.
            </MudText>
        </Animate>
    </MudItem>
    <MudItem xs="12">
        <Animate Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.8)">
            <MudText Style="text-align: center;color: #d86c00;font-size: clamp(1.125rem, 0.828vw + 0.944rem, 1.938rem);line-height: clamp(1.688rem, 0.847vw + 1.502rem, 2.519rem);margin-top: 150px;margin-bottom: 100px;">
                Experience
            </MudText>
        </Animate>
    </MudItem>
    <MudItem xs="12">
        <MudTimeline>
            <MudTimelineItem>
                <Animate Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.8)">
                    <MudText Style="color: #d86c00;" Typo="Typo.caption">2021</MudText>
                    <MudText Style="font-weight: bold;font-size: clamp(0.625rem, 0.647vw + 0.473rem, 1.25rem); line-height: clamp(0.938rem, 0.712vw + 0.771rem, 1.625rem);">ASP.NET Core, Web API, Docker, and Azure DevOps</MudText>
                    <MudText Style="font-weight: lighter;font-size: clamp(0.625rem, 0.647vw + 0.473rem, 1.25rem); line-height: clamp(0.938rem, 0.712vw + 0.771rem, 1.625rem);">
                        Learned ASP.NET Core, Web API, Docker, and Azure DevOps for building web applications, deploying with containers, and implementing CI/CD processes.
                    </MudText>
                </Animate>
            </MudTimelineItem>
            <MudTimelineItem>
                <Animate Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.8)">
                    <MudText Style="color: #d86c00;" Typo="Typo.caption">2022</MudText>
                    <MudText Style="font-weight: bold;font-size: clamp(0.625rem, 0.647vw + 0.473rem, 1.25rem); line-height: clamp(0.938rem, 0.712vw + 0.771rem, 1.625rem);">Blazor, Figma, and GitHub Actions</MudText>
                    <MudText Style="font-weight: lighter;font-size: clamp(0.625rem, 0.647vw + 0.473rem, 1.25rem); line-height: clamp(0.938rem, 0.712vw + 0.771rem, 1.625rem);">
                        Expanded skills with Blazor for interactive web app development, Figma for UI/UX design, and GitHub Actions for automating CI/CD workflows.
                    </MudText>
                </Animate>
            </MudTimelineItem>
            <MudTimelineItem>
                <Animate Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.8)">
                    <MudText Style="color: #d86c00;" Typo="Typo.caption">2023</MudText>
                    <MudText Style="font-weight: bold;font-size: clamp(0.625rem, 0.647vw + 0.473rem, 1.25rem); line-height: clamp(0.938rem, 0.712vw + 0.771rem, 1.625rem);">GitHub Actions, Azure, Ansible, Nginx, Linux Scripting, and Cloudflare</MudText>
                    <MudText Style="font-weight: lighter;font-size: clamp(0.625rem, 0.647vw + 0.473rem, 1.25rem); line-height: clamp(0.938rem, 0.712vw + 0.771rem, 1.625rem);">
                        Advanced knowledge of GitHub Actions for CI/CD, Azure for cloud infrastructure, Ansible for automation, Nginx for web server configuration, and Linux scripting for system management and automation. Additionally, gained experience with Cloudflare for improving website performance, security, and caching.
                    </MudText>
                </Animate>
            </MudTimelineItem>
        </MudTimeline>
    </MudItem>
</MudGrid>